body{
    background-color: #ffdaee;
}

.main{
    background-color: #ffc8f4;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;

}

#top{
    margin-bottom: 20px;
    background-color: #ffc8f4;

}

#container{
    padding: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bcc7ff;
    margin-bottom: 15px;
    border-radius: 10px;
    border : 2px solid black ;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 20px;
}
#container:hover{
    border-color: white;
}

#input{
    border-top: none;
    border-left: none;  
    border-right: none;
    border-bottom:#afffe1  5px solid ;
    margin-left: 0.5%;
    margin-right: 20%;
    width: 80%;
    height: 40px;
    border-radius: 2px;
    outline: none;
}

#input1{
    border-top: none;
    border-left: none;  
    border-right: none;
    margin-left: 0.5%;
    margin-right: 20%;
    width: 80%;
    border-radius: 2px;
    border-bottom:#afffe1  5px solid ;
    outline: none;

}

#fullname{
    
    padding: 10px;
    margin-bottom: 20px;
}

#img{
    height: 150px;
    width: 100%;
    display: block;
    border-radius: 20px;
    
}

#btn{
    background-color: #ff94c2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10%;
}

#btn1{
    background-color: #ff94c2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10%;
    float: right;
}

