.mainBox{
    width: 500px;
    /* border: solid; */
    position: relative;
    top: 100px;
    left: 500px;

}

.mainBoxTop{
    width: 100%;
    height: 250px;
    /* border: solid; */
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.mainBoxBottom{
    /* border: solid; */
    width: 100%;
    justify-items: center;
    position: absolute;
    top: 130px;
    
}



.bottomBoxImage{
    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 2px 4px gray;
    background-image: url(image\ copy.png);
    background-position: center;
   

}

.mainBoxBottom:hover{
    scale: 1.02;
    cursor: pointer;
}
